:root {
    --primary-color: #2E2F42;
    --web: #4D5AE5;
    --body-color: #434455;
    --white-color: #ffffff;
    --button-portfolio: #404BBF;
    --bg-secondary: #F4F4FD;
    --but-border: #E7E9FC;
}

body li {
    list-style-type: none;
}

body a {
    text-decoration: none;
}

.button {
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.040em;
    text-align: center;
}

.button.portfolio {
    background-color: var(--bg-secondary);
    color: var(--web);
    border-color: var(--but-border);
}

.button.portfolio:hover,
.button.portfolio:focus{
    background-color: var(--button-portfolio);
    color: var(--white-color);
}

span.footer.text {
    color: var(--white-color);
}

.nav .link:hover,
.nav .link:focus {
    color: var(--body-color)
}

nav .navsec-navigation:hover,
nav .navsec-navigation:focus {
    color: var(--web)
}

.nav a {
    color: var(--web);
}

nav .link-current {
    color: var(--primary-color);
}

.nav .link {
    color: var(--web);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.nav .link-help:hover,
.nav .link-help:focus {
    color: var(--body-color);
}

span.logo.web {
    color: var(--web);
}

span.logo.studio {
    color: var(--primary-color);
}

.logo.web,
.logo.studio {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.030em;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}